.Aside {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  z-index: 10;
}
.left {
  width: 30%;
  height: 100%;
  background: #474747;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  color: white;
}
.right {
  width: 70%;
  height: 100%;
  background: #6b6b6b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  color: white;
}